#certifications {
  > ul {
    list-style: none;

    @include flexgrid(
      (
        columns: 2,
        vertical-align: center,
      )
    );

    @include vendor("justify-content", "center");

    li {
      margin-bottom: 2em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      border-bottom: 0;
    }

    @include breakpoint(small) {
      @include flexgrid-resize(
        (
          columns: 1,
        )
      );
    }
  }
}
