#contact {
  > div {
    text-align: left;
    @include vendor("display", "flex");

    @include breakpoint(medium) {
      @include vendor("flex-direction", "column");
    }
  }

  .contact-form {
    width: 60%;

    @include breakpoint(medium) {
      order: 1;
      width: 100%;
    }
  }

  .contact-details {
    width: 40%;
    padding: 0 0 1em 3em;

    .contact-method {
      padding-left: 3.25em;
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        left: 0;
      }

      h3 {
        line-height: 2.1em;
      }
    }

    @include breakpoint(medium) {
      order: 0;
      padding-left: 0;
      padding-bottom: 3em;
      width: 100%;
    }
  }
}
